<% include ../partials/header %>

























    
    
    <header class="jumbotron">
        <div class="container">
            <h1>Welcom to LumiSite</h1>
            <p>View our Landscape/Fine Art Images</p>
            <p>
                <a href="/gallery/new" class="btn btn-primary btn-lg">Add New Photo</a>
            </p>
        </div>
    </header>
    
    
    
    
    <div class="row" style="display:flex; flex-wrap: wrap;">
    
        <div class="col-lg-12">
            <h3>Our Most Popular Sites</h3>
        </div>
    </div>
    <!--style="display:flex; flex-wrap: wrap; text-align: center;"-->
    <div class="grid" data-packery='{ "itemSelector": ".grid-item", "gutter": 10 }'>
        <% grounds.forEach(function(ground){ %>
            <div class="img-container grid-item">
                    <a href="/gallery/<%=ground._id%>">
                        <img src="<%=ground.img  %>" class="overlay-image"> 
                        <div class="overlay">
                            <div class=overlay-title>
                                <%= ground.name %>
                            </div>
                        </div>
                    </a>
                    

                
            </div>
        <% }); %>
        
        
        
    </div>
        
        
        




<% include ../partials/footer %>